.panel-heading {
    padding: 10px 20px;
    color: #f3f3f3;
    font-weight: bold;
    background-color: #ffa500;
    font-size: medium;
}

.panel-body {
    padding: 20px;
    font-weight: bold;
}

.panel-body p {
    margin-top: 0;
}

.panel img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

h3 {
    font-size: 110%;
    margin: 10px;
    font-size: 24px;
}

.search-content{
    margin: 10px;
    line-height: 1.3em;
    clear: both;
}
.search-label{
    float: left;
    text-align: right;
    width: 175px;
}
.search-span {
    font-size: 85%;
    padding-bottom: 3px;
    display: block;
    line-height: 1em;
    font-weight: normal;
}
.search-buttons {
    float: right;
    padding: 10px 3px;
    padding-right: 1rem;
    margin: 0;
    text-align: center;
    clear: both;
    height: 15px;
}
.disabledText {
    color: gray;
}
.more-info-link {
    clear: both;
    padding-bottom: 15px;
    text-align: center;
}

.bp-p{
    margin: 10px;
    line-height: 1.3em;
    clear: both;
}
.biller-list {
    padding: 10px;
}
.modhead {
    margin: 0;
    position: relative;
    display: none;
}
.modbody {
    margin: 0;
    padding: 0px 0 7px 0;
}
.help-link-cleared {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    margin: 0;
    padding: 5px;
}
.row-fix {
    padding-bottom: 10px;
}
.bp-span{
    font-size: 85%;
    padding-bottom: 3px;
    display: block;
    line-height: 1em;
    font-weight: normal;
}

.para {
    margin: 10px;
    line-height: 1.3em;
    clear: both;
}

a {
    color: #369;
    font-weight: bold;
    text-decoration: none;
}
