frontend/banking_system/*.pyc
frontend/banking_system/migrations/*.pyc
frontend/db.sqlite3

banking-system-frontend/.idea/*
banking-system-prototype/.idea/*
banking-system-frontend/target/*
banking-system-prototype/target/*
*.iml
banking-system-prototype/*.iml
banking-system-frontend/*.iml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
