{% extends "template.html" %}
{% load staticfiles %}

{% block body_block %}
  <section class="main-content">

      <div class="content-wrap">
          <div class="row mg-b">
              <div class="col-xs-6">
                  <h3 class="no-margin">Add A Bill</h3>
              </div>
          </div>
              <div class="container" style="width: 100%">

                    <div class="panel" height="500px">
                        <div class="panel-heading">Add A Bill</div>

                          <h3>Search</h3>
                          <p class="search-content">To find the company you want to add, enter the information and click <strong>Search</strong>. We'll try to find an address match for you.</p>
                          <form method='POST' action="">
                            {% csrf_token %}
                          <p>
                            <span id="sp_billerName">
                              <label class="search-label" for="billerName">Biller Name<span class="search-span">As it appears on  bill</span></label>
                              <input name="billerName" id="billerName" type="text" value="" maxlength="32" size="36">
                            </span>
                          </p>

                            <ul class="search-buttons">
                              <li class="btn"><input class="btn" style="font-weight: bold; background-color: #ffa500;" type="submit" name"search" value="Search"></li>
                              <li class="btn btn-default" style="font-weight: bold"><a href="{% url 'banking_system:dashboard' %}">Cancel</a></li>
                            </ul>
                          </form>
                        </div>
                    </div>
      </div>
  </section>

{% endblock %}
