{% extends "template.html" %}
{% load staticfiles %}

{% block body_block %}
<section class="main-content">

    <div class="content-wrap">
        <div class="row mg-b">
            <div class="col-xs-6">
                <h3 class="no-margin">Bill Pay</h3>
            </div>
        </div>
        <div class="row">
                <!-- Left Column -->
                <div id="leftCol_twoThirds">

                    <div class="bp-panel-left" >
                        <div class="bp-box bp-border bp-red bp-panelHead">
                            <div class="bp-panelHeadTitle">
                                <i class="fa fa-retweet"></i><span class="bp-h1">Welcome to Online Bill Pay</span>
                            </div>
                        </div>
                        <div class="bp-panelContent">

                            <!-- Panel Content -->

                            <span class="bp-p"><strong>You have not set up any bills yet.</strong>
                                <br> Please add your first bill to start using Online Bill Pay by choosing one of the following options:</span>

                            <div class="col-md-5 bpWelcome1">
                                <div style="margin-left: 50px;padding-top: 1rem"><img src="https://www.westmark.org/images/bill-pay.jpg" width="120px" height="120px"></div>
                                <div class="bpWelcome_Content">
                                    <h1>Add Your First Bill Now</h1> The first step to pay bills online is to add a payee. It doesn't matter if it's a company or a person. You can send a payment to almost anybody. Pay your bills from a credit card, phone, utilities or other vendors and suppliers
                                </div>
                                <!-- click button and transfer user to the billpay_selecttype.html-->
                                <a href="{% url 'banking_system:billpay_addbill' %}"><div class="buttonCenter" style="text-align: center;">
                                        <input type="button" class="btn btn-primary" value="Add Bills"  id="Add Bills">
                                </div></a>
                            </div>

                            <div class="col-md-5 bpWelcome2">
                                <div style="margin-left: 70px;padding-top: 1.5rem;padding-bottom: 5px"><img src="https://www.ofx.com/-/media/Icons/Iconography%202017/OFX%20Ways%20to%20transfer/Buy%20now%20transfer%20later.ashx?h=400&w=400&la=en-AU&hash=59CB21FD4A707C07FE13AF2A6DE304306D6DF03F" width="100px" height="100px"></div>
                                <div class="bpWelcome_Content">
                                    <h1>View your Bill Pay History</h1> Or, if you are already paying bills online at Devoushire, let our Bill Pay Quick display tool help you view your Online Bill Pay history
                                </div>
                                <div class="buttonCenter" style="text-align: center;">
                                    <input type="button" class="btn btn-default" value="View History" onclick="location='/alservlet/BpaaFramesetServlet'" id="Switch Payees">
                                </div>
                            </div>

                            <div class="clear"></div>
                        </div>
                        <div class="panelFooter">
                            <div class="panelFooterRight">&nbsp;</div>
                        </div>

                    </div>

                </div>

                    <section class="col-md-4 panel-primary" style="padding-left: 1rem;">

                        <div class="panel-heading" style="height: 30px;">
                            <div class="bp-panelHeadTitle-right">
                                <i class="fa fa-info-circle"></i><span class="bp-h1" style="padding-bottom: 1rem">More Information</span>
                            </div>
                        </div>

                        <div class="panelContent" style="background: white; border: 1px solid lightgrey;">
                            <p style="padding-top: 1rem; text-align: center"><strong>What Do I Need to Set Up Online Bill Pay?</strong></p>

                            <p style="padding-left: 1rem">For the easiest setup experience, please have the following available:</p>

                            <ul style="padding-left: 1rem">
                                <li>Account numbers for each bill, if required</li>
                                <li>Payment addresses for each bill payee</li>
                                <li>Online credentials for your bill payee websites to enable some e-bills</li>
                            </ul>
                            <!-- End Panel Content -->

                            <div class="clear"></div>
                        </div>
                    </section>

            <section class="col-md-4 panel-color" style="padding-top: 2rem;">
                <div class="panel-heading" style="height: 30px;">
                    <div class="bp-panelHeadTitle-right">
                        <i class="fa fa-phone"></i><span class="bp-h1" style="padding-bottom: 1rem">Help Center</span>
                    </div>
                </div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody style="background: white;">
                    <tr style="height: 25px;">
                        <td valign="top"style="padding: 0px 9px 0px 0px;">
                        <i class="glyphicon glyphicon-question-sign"></i></td>
                        <td width="100%" class="text1" valign="top" style="padding: 2px 0px 0px 0px;"><a class="linkblue" href="" target="largeHelpWin" onclick="" title="Get help with Bill Pay">Help</a></td>
                    </tr>
                    <tr style="height: 25px;">
                        <td valign="top" style="padding: 12px 9px 0px 0px;">
                            <i class="glyphicon glyphicon-user"></i></td>
                        <td width="100%" class="text1" valign="top" style="padding: 12px 0px 0px 0px;"><a class="linkblue" href="" title="Customer Service">Customer Service</a></td>
                    </tr>
                    <tr style="height: 25px;">
                        <td valign="top" style="padding: 12px 9px 0px 0px;">
                            <i class="glyphicon glyphicon-envelope"></i></td>
                        <td width="100%" class="text1" valign="top" style="padding: 12px 0px 0px 0px;"><a class="linkblue" href="" title="Send us a Email">Send us a Email</a></td>
                    </tr>
                    </tbody>
                </table>
            </section>

            </div>
        </div>



</section>
{% endblock %}
