{% extends "template.html" %}
{% load staticfiles %}

{% block body_block %}
<section class="main-content">
  <div class="content-wrap">
      <div class="row mg-b">
              <ul class="search-buttons" style=" margin-left: 700px">
                  <li class="btn" style="width: 90px;font-weight: bold; background-color: #f14c4c;"><a style="color: white" href="javascript:submitMPChgPayPlanForm('Save Changes');">Print</a></li>
                  <li class="btn btn-default" style="font-weight: bold;"><a href="javascript:goBackToQuickAddPage();">Download</a></li>
              </ul>
      </div>
      <div class="container" style="width: 100%; padding-top: 2rem">
          <div class="panel" style="height: 1000px">
              <div id="container">
                  <div class="module">

                      <header class="invoice-header invoice-row">
                          <div class="logoholder text-center">
                              <img class="logo" src="{% static "img/logo2.jpeg" %}" height="40px">
                          </div>

                          <div class="me">
                              <p>
                                  <strong>Devonshire Lending LLC – Onling Banking</strong><br>
                                  Walnut Street <br>
                                  000 Shady Ave<br>
                                  Pittsburgh, PA, US
                              </p>
                          </div><!--.col-->
                          <div class="info">
                              <p>
                                  Web: <a href="">www.devenshirelending.com</a><br>
                                  Mail: <a href="mailto:hello@volkerotto.net">hello@devenshirelending.com</a><br>
                                  Tel: +1 412 - XXX - XXX<br>
                                  Fax: 0101010101
                              </p>
                          </div>

                          <div class="col-3 bank">
                              <p>
                                  Branches: <br>
                                  IBAN: <br>
                                  BIC:
                              </p>
                          </div>
                      </header>


                      <div class="invoice-row invoice-section">
                          <div style="height: 30px; width: 95%; background-color: #f14c4c">
                              <h4 style="padding: 7px 10px; font-weight: bold; color: white">NOTE TO PAYEE</h4>
                          </div>
                          <div class="col-1">
                              <p  class="client invoice-font">
                                  Mr. Liu<br>
                                  Thank you for Using the Devenshire Lending online service.<br>
                                  Please review these details:
                              </p>
                              <p class="client invoice-font">
                                  Payment amount:<span style="font-weight: normal"> $ {{ request.session.billpay_result.amount }}</span><br>
                                  Payment number: <span style="font-weight: normal">{{ request.session.billpay_result.transNum }}</span><br>
                                  Payment sent by Devenshire on: <span style="font-weight: normal">{{ request.session.billpay_result.receiveDate }}</span>
                              </p>
                          </div>
                          <div style="height: 30px; width: 95%; background-color: #f14c4c">
                              <h4 style="padding: 7px 10px; font-weight: bold; color: white">PROOF OF PAYMENT</h4>
                          </div>
                      </div><!--.row-->

                      <div class="invoicelist-body">
                          <table>
                              <thead>
                              <th>Customer Information</th>
                              <th></th>
                              </thead>
                              <tbody>
                              <tr>
                                  <td class="col-xs-1">Customer name</td>
                                  <td class="col-xs-2">Yang Liu</td>
                              </tr>
                              <tr>
                                  <td class="col-xs-1">Address (line 1)</td>
                                  <td class="col-xs-2">XXX XXX</td>
                              </tr>
                              <tr>
                                  <td >Address (line 2)</td>
                                  <td class="col-xs-1">XXX Forbes Ave</td>
                              </tr>
                              <tr>
                                  <td class="col-xs-1">City</td>
                                  <td class="col-xs-2">Pittsburgh</td>
                              </tr>
                              <tr>
                                  <td class="col-xs-1">AState</td>
                                  <td class="col-xs-2">PA</td>
                              </tr>
                              <tr>
                                  <td class="col-xs-1">ZIP code</td>
                                  <td class="col-xs-2">15213</td>
                              </tr>
                              <tr>
                                  <td class="col-xs-1">Mobile Phone</td>
                                  <td class="col-xs-2">1 412-000-123</td>
                              </tr>
                              </tbody>
                          </table>
                          <br>
                          <table>
                              <thead>
                              <th>Transaction Information</th>
                              <th></th>
                              </thead>
                              <tbody>
                              <tr>
                                  <td class="col-xs-1">Biller name</td>
                                  <td class="col-xs-2">{{ request.session.billpay_result.companyName }}</td>
                              </tr>
                              <tr>
                                  <td class="col-xs-1">Biller account number</td>
                                  <td class="col-xs-2">{{ request.session.billpay_result.toAccountNum }}</td>
                              </tr>
                              <tr>
                                  <td >Payment amount</td>
                                  <td class="col-xs-1">$ {{ request.session.billpay_result.amount }}</td>
                              </tr>
                              <tr>
                                  <td class="col-xs-1">Send ON date</td>
                                  <td class="col-xs-2">{{ request.session.billpay_result.sendOnDate }}</td>
                              </tr>
                              <tr>
                                  <td class="col-xs-1">Expected arrival date</td>
                                  <td class="col-xs-2">{{ request.session.billpay_result.receiveDate }}</td>
                              </tr>
                              <tr>
                                  <td class="col-xs-1">Payment number</td>
                                  <td class="col-xs-2">{{ request.session.billpay_result.transNum }}</td>
                              </tr>
                              </tbody>
                          </table>
                      </div><!--.invoice-body-->

                      <div class="invoicelist-footer">
                          <table style="margin-left: 500px">
                              <tr>
                                  <td>E-Signature</td>
                                  <td>Yang Liu</td>
                              </tr>
                          </table>
                      </div>
                      <ul class="search-buttons" style="padding-top:2rem; margin-left: 450px">
                          <li class="btn" style="width: auto;font-weight: bold; background-color: #f14c4c;"><a style="color: white" href="javascript:submitMPChgPayPlanForm('Save Changes');">Back to Dashboard</a></li>
                      </ul>

                      <footer class="row">
                          <div class="col-1 text-center">
                              <p class="notaxrelated">Devonshire Lending LLC.</p>
                              <p class="legal-text">&copy; 2017 Devonshire Lending LLC. <span>All rights reserved.</span></p>
                          </div>
                      </footer>


                      <div class="blc"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>


</section>
{% endblock %}
