{% extends "template.html" %}
{% load staticfiles %}

{% block body_block %}
<section class="main-content">
    <form method="post" action="" style=" margin-top:8em;margin-left: 21em;border: 1px solid #CCCCCC" class="col-xs-8" >
       {% csrf_token %}
    <div class="row mg-b"  style="background-color: #00B0E7;height: 50px;margin-bottom: 0px;padding-top: 10px">
        <div class="col-xs-8">
            <h3 class="no-margin" style="color:#FFFFFF">Pay other People</h3>
        </div>
    </div>
    <div class="row mg-b"  style="background-color: #FFF;height: 35px;margin-bottom: 0px;padding-top: 5px">
        <div class="col-xs-8">
            <h3 class="no-margin">Payment Information</h3>
        </div>
    </div>
    <div style="margin: 0px;padding: 10px">
    &nbsp;&nbsp;&nbsp;  <span  style="font:700 20px/20px Arial">Payment From :</span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select style="height: 28px" id="select1" name="account1">
    <option value ="Select an Account">Select an Account</option>
    <option value ="Checking Account">Checking Account</option>
    <option value="Saving Account">Saving Account</option>
    <option value="Growing Accout">Growing Accout</option>
    </select>
    </div>
        <div style="margin: 0px;padding: 10px;"  >
            &nbsp;&nbsp;&nbsp;  <span  id="spanTo" style="font:700 20px/20px Arial;">To :</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="font:600 15px/15px Arial">First Name * </span>&nbsp;&nbsp;<input type="text">&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="font:600 15px/15px Arial">Last Name  * </span>&nbsp;&nbsp;<input type="text">
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" checked="checked" id="emailRadio" onclick="fn1()"> Email or Mobile
            <br>
            <div id="EmailDiv">
            <span style="font:500 15px/20px Arial; display: inline-block;width: 25em;margin-left: 10em;margin-top: 0.5em;margin-bottom: 0.5em">For their first time, the recipient will be prompted for their bank account information. The money will be directly deposited into their bank account.</span>
            <br>
            <input type="text" id="inputEmail" style="margin-left:10em;color:#aaaaaa" value="Email or Mobile" onfocus="fn3()" onblur="fn5()">
            <br>
            </div>
            &nbsp;<input type="radio" style="margin-left: 7em" id="bankRadio" onclick="fn2()">
            Bank Account
            <br>
            <div id="BankAccountDiv"  hidden="hidden" >
            <span style="margin-left: 10em; margin-top: 0.5em; margin-bottom: 0.5em">Account Number:</span>
            <br>
            <input type="text" name="account2" id="inputAccount" style="margin-left: 10em;color:#aaaaaa" value=" Account Number" onfocus="fn4()" onblur="fn6()">
            <br>
            </div>
        </div>
        <div style="margin: 0px;padding: 10px; font:500 20px/20px Arial" id="AmountDate">
            &nbsp;&nbsp;&nbsp;  <span  style="font:700 20px/20px Arial;" id="spanDate">Date:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="date" name="date" id="inputDate" style="height: 27px"> <span>mm/dd/yyyy</span>
            <br><br>
            &nbsp;&nbsp;&nbsp;  <span id="spanAmount" style="font:700 20px/20px Arial;">Amount:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            $<input type="text" id="inputText" name="amount">
            <br><br>
            <input type="button" value="Cancel">
            <input id="btn" type="button" style="background-color: #C7D5E3;color:#2B568E;font:700 19px/19px Arial;height: 30px" value="Submit">&nbsp; &nbsp; <span id="mid" hidden="hidden">|</span> &nbsp; &nbsp;
        </div>
    </form>
</section>
{% endblock %}