@import url(http://fonts.useso.com/css?family=Open+Sans:400,300,600,700,800);
body {
    font-family: "Open Sans", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.heading-font {
    font-family: "Open Sans", Arial, sans-serif;
}
.page-header{
    font-weight: bold;
    font-size: large;
}
.table-subtitle{
    font-weight:bold;
    font-size: medium;
}
.sum-line {
    margin: 6px 0 4px 0;
    height: 2px;
    border-bottom: 1px dotted #a0a0a0;
}
.pad-bottom{
    padding-bottom: 2rem;
}

.table {
    background: #fff;
}

.fixed-table-container {
    border: 1px solid #eee;
}

.fixed-table-container thead th {
    background: #f7f7f8;
    border-color: #ddd;
    color: #5f6468;
    font-weight: 300;
    font-size: 16px;
}

.fixed-table-container tbody td {
    border: 1px solid #eee;
}

.fixed-table-container tbody td:last-child {
    border-right: none;
}

.table>thead>tr>th {
    border-bottom: 1px solid #e6e7e8;
    vertical-align: middle;
    height: 50px;
    font-size: small;
}

.fixed-table-pagination .pagination {
    margin-top: 10px;
    margin-bottom: 0px;
}
.fixed-table-pagination .pagination-detail {
    margin-top: 20px;
}
.glyphicon{
    position:relative;
    top:1px;
    display:inline-block;
    font-family:'Glyphicons Halflings';
    font-style:normal;
    font-weight:400;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.glyphicon-refresh{
    content:"\e031"
}



